.container {
  background-color: rgb(210, 210, 224, .80);
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 600px;
  text-align: center;
  padding-color: black;
  border-radius: 90px;
  font-family: 'Press Start 2P', cursive;
}

#title {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: rgb(179, 0, 71, .60);
  font-size: 39px;

}

body {
  background-image: url("../img/galaxy.jpg");
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.beep {
  margin-top: -10px;
  margin-bottom: 70px;
  max-width: 200px;
}

.form-group{
max-width: 300px;
margin-left: 135px;
font-family: 'Press Start 2P', cursive;
font-size: 10px;

}
.form-name {
  font-size: 10px;
  margin-left: 185px;
  margin-bottom: 40px;
  max-width: 200px;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  padding: 50px;
  font-size: 18px;
}
#output {
  text-align: center;
  max-width: 600px;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  padding: 30px;
  color: rgb(179, 0, 71, .60);

}
